<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}

    <style>
        h1{
            text-align: center;
            color: #fbf602;
            background-color: #7e1212;
            font-size: 40px;
            line-height: 80px;
            text-shadow: 4px 4px 8px rgba(255, 115, 0, 0.91);
        }
    </style>
</head>
<body>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'product' %}">Product</a>


<h1>BrickFolio Web Application</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, nam pariatur. Ad blanditiis nisi quibusdam rem, repudiandae tenetur unde voluptas! At cumque doloremque ducimus est harum itaque nesciunt officia provident!</span><span>Ad architecto autem beatae commodi, consequuntur distinctio dolores doloribus eaque est exercitationem facilis hic ipsum laboriosam laudantium molestiae necessitatibus pariatur perferendis quis quo rem repellat sed suscipit ullam. Dicta, magnam.</span><span>Cumque in iste laborum nam perferendis ratione repellat sint? Adipisci laborum natus nobis, non nostrum odio quod sint tempora! Ab ad dicta eveniet id modi, odio suscipit totam. Adipisci, delectus.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias tenetur ut vitae. At debitis eligendi eos esse et eveniet explicabo ipsum nobis quod reiciendis repudiandae saepe voluptate, voluptatum? Iste, modi?</span><span>Culpa delectus dolor ducimus fugit incidunt magni molestiae nesciunt omnis totam, vero! Ab aut commodi deleniti distinctio dolorum earum eligendi exercitationem iure laboriosam libero, neque nobis, qui quia sit, soluta.</span></p>

<img src="{% static 'images/property.png' %}" alt="">
</body>
</html>